body {
    font-family: Sans-Serif;
    background-color: rgb(234,232,232);
    margin-bottom: 5%;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    border-radius: 2%;
    background-color: white;
    padding: 5%;
}

.para {
    font-size: 20px;
}

.hi {
    font-size: 38px;
}

.image {
    border-radius: 50%;
    height : 150px;
    width: 150px;
}

.photo {
    border-radius: 50%;
    height : 30px;
    width: 30px;
}
