body {
    font-family: Sans-Serif;
    background-color: rgb(234,232,232);
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    border-radius: 2%;
    background-color: white;
    padding: 5%;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 
    'photo photo photo'
    'intro intro intro'
    'link link link';
}

.intro {
    grid-area: intro;
}

.link {
    grid-area: link;
}

.para {
    font-size: 20px;
}

.hi {
    font-size: 38px;
}

.image {
    border-radius: 50%;
    height : 150px;
    width: 150px;
    grid-area: photo;
}

.photo {
    border-radius: 50%;
    height : 30px;
    width: 30px;
}

@media only screen and (max-width:300px){
    
    .container
    {
    grid-template-areas: 
    'photo intro intro '
    'intro intro intro'
    'link link link';
    }
  
}
